<h2>Informacion contacto</h2>
<select class="form-select" #select (change)="modificarSeleccion(select.value)">
  <option value="1">Opcion 1</option>
  <option value="2">Opcion 2</option>
  <option value="3">Opcion 3</option>
  <option value="4">Opcion 4</option>
</select>

@switch (seleccionSelect){
  @case ("1"){
    <div class="alert alert-primary" role="alert">
      Seleccion 1
    </div>
  }
  @case ("2"){
    <div class="alert alert-success" role="alert">
      Seleccion 2
    </div>
  }
  @case ("3"){
    <div class="alert alert-success" role="alert">
      Seleccion 3
    </div>
  }
  @case ("4"){
    <div class="alert alert-danger" role="alert">
      Seleccion 4
    </div>
  }
  @default{
    <p>No se ha contemplado ninguna opción</p>
  }
}

