<input [(ngModel)]="nombreBuscar" class="form-control "type="text" placeholder="introduce el nombre del profesor">
<input [(ngModel)]="asignaturaBuscar" class="form-control "type="text" placeholder="introduce el conocimiento">
<select [(ngModel)]="conocimientoBuscar" class="form-select">
    <option>DAM</option>
    <option>DAW</option>
    <option>AMBOS</option>
</select>
<button (click)="realizarBusqueda()" class="btn btn-primary">Buscar</button>

<div class="row" *ngFor="let item of asignaturaFiltro">
    <app-carta-asignatura class="col" [asignatura]="item"></app-carta-asignatura>
</div>