<main>
    <div class="row">
        <div class="col">
            <input type="text" class="form-control mb-4" #inputMarca placeholder="introduce marca"/>
            <input type="text" class="form-control mb-4" #inputModelo placeholder="introduce modelo"/>
            <input type="number" class="form-control mb-4" #inputCv placeholder="introduce cv"/>
            <input type="number" class="form-control mb-4" #inputCC placeholder="introduce cc"/>
            <input type="text" class="form-control mb-4" #inputMatricula placeholder="introduce matricula"/>
            <select class="form-select mb-4">
                <option>Termico</option>
                <option>Electrico</option>
            </select>
            <button class="btn btn-primary">Agregar</button>
            @if (listado.length>0){

            }
        </div>
    </div>
</main>
    
    
